<nav class="bg-gray-800 text-white py-3 px-4 flex items-center justify-between">
    <a class="font-bold text-xl tracking-tight" href="/posts/published">Blogs</a>
    <div class="flex items-center">
        <a class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700" href="/">Home</a>
        <a class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700" href="/register">Register</a>
        <a class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700" href="/Login">Login</a>
    </div>
</nav>