<div class="searchBar">
    <div id="search-bar" class="container w-80 m-10 bg-white rounded-md shadow-lg z-10">
        <form action="/post/search" method="POST" role="search" class="search__form flex items-center justify-center p-2">
            <input type="search" placeholder="Search here" id="searchInput" name="searchTerm"
                class="w-full rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent">
            <button type="submit"
                class="bg-blue-800 text-white rounded-md px-4 py-1 ml-2 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-600 focus:ring-opacity-50">
                Search
            </button>
        </form>
    </div>
</div>